@import '../colors.scss';

.footer {
	padding: 60px 10vw !important;
	background: get-color(extreme-violet);
	
	display: grid;
	grid-template-areas: "logo . reference-1 reference-2 reference-3 social-links";
	gap: 50px;
	
	.brand {
		grid-area: logo;
		path {
			fill: white;
		}
	}


	@for $i from 1 through 3 {
		.reference-group-#{$i} {

			grid-area: reference-#{$i};
			justify-self: end;

			.group-title {
				color: white;
				margin: 0 0 20px;
			}

			ul {
				list-style: none;
				padding: 0;
				
				li .navlink {
					margin: 10px 0;
					display: block;
					color: get-color(grayish-violet);

					&:hover {
						color: get-color(cyan);
					}
				}
			}
		}
	}

	.social-links {
		grid-area: social-links;
		a {
			margin: 0 5px;
			&:hover path {
				transition: fill .2s;
				fill: get-color(cyan);
			}
		}
	}
}


@media screen and (max-width: 850px) {
	#root .footer {
		grid-template-areas:
			"logo .  reference-1  reference-2 reference-3"
			"...  .  social-links    ...       ...";
	}
}

@media screen and (max-width: 750px) {
	#root .footer {
		grid-template-areas:
			"logo           ...         ..."
			"reference-1 reference-2 reference-3"
			"...         social-links   ...";

		> * { justify-self: center }
	}
}

@media screen and (max-width: 500px) {
	#root .footer {
		grid-template-areas: none;
		grid-template-rows: auto;

		>* {
			grid-area: unset;
			text-align: center;
		}
	}
}