@import './colors.scss';

@mixin cta-box($bg-color, $text-color: white, $border-radius: 25px) {
	
	&, &.input-link::placeholder {
		background-color: $bg-color;
		color: $text-color;
	}
	
	border: 1px solid transparent;
	border-radius: $border-radius;

	display: inline-block;
	padding: .5rem 1.5rem;

	transition: all .2s, transform .5s;

	/* Hover */
	&:not(input):hover {
		background-color: transparent;
		color: $bg-color !important;
		border-color: $bg-color;
		cursor: pointer;
	} 
	&:focus {
		outline: none;
	}
	&:not(input):active {
		transform: scale(.9);
	}
}